$app-max-width: 1340px;
$content-max-width: 800px;

$grey-light: #e5e5e5;
$green: #29cd72;
$green3: #17db6f;
$green2: #4fc08d;
$dark: #2e2e2e;

$space-tiny: 0.5rem;
$space-small: 1rem;
$space-medium: 2rem;
$space-big: 4rem;

$easing-bounce: cubic-bezier(1, .015, .295, 1.225);